<div class="flex justify-between items-center mt-5 px-4">
    <div>
        <h1 class="font-bold text-2xl">Jean Mallqui</h1>
    </div>
    <div class="flex items-center md:hidden">
        <button id="menu-toggle" class="focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
    <div id="menu" class="md:flex md:items-center md:space-x-3 hidden absolute top-0 right-0 mt-14 bg-gray-100 shadow-lg md:shadow-none md:bg-transparent md:relative md:mt-0 md:flex-grow md:space-x-0 md:flex-row md:space-y-0 md:ml-auto md:py-0 md:items-center">
        <a href="#" class="block py-2 px-4 text-gray-800 hover:bg-gray-200">About me</a>
        <a href="#" class="block py-2 px-4 text-gray-800 hover:bg-gray-200">Experience</a>
        <a href="#" class="block py-2 px-4 text-gray-800 hover:bg-gray-200">Projects</a>
        <a href="#" class="block py-2 px-4 text-gray-800 hover:bg-gray-200">Mas</a>
    </div>
</div>


